[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "~=1.1"
python-dotenv = "*"
requests = "*"
markupsafe = "==2.0.1"
jinja2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
