@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: ProximaNova;
    src: url("/fonts/ProximaNovaBold.otf");
}
@font-face {
    font-family: Metropolis;
    src: url("/fonts/MetropolisSemiBold.ttf");
}

html,
body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
    background: #101010;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.font-metropolis {
    letter-spacing: 0.2px;
}
