{% extends "layout.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="static/content/dpupload.css">
{% endblock %}
{% block content %}
<input id="upload" type="file" name="Import your Spotify package" />
<div class="import">
    <a class="upload-link" href="">
        <div class="upload-box">
            <div class="upload-content">
                <i class="fa-solid fa-cloud-arrow-up fa-4x"></i>
                <h1>Import your Spotify data here</h1>
            </div>
        </div>
    </a>
    <h1 class="error">Your package seems to be corrupted. Please select your package zip file again.</h1>
</div>
<script type="text/javascript" src="static/js/dpupload.js"></script>
{% endblock %}