{% extends "layout.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/content/home.css">
{% endblock %}
{% block content %}
<div class="now-playing">
    <div>
        <h1>Now Playing</h1>
        <br>
        <div class="song">
            {% if cp is not none %}
                <img src="{{ cp.cover }}" width="150" height="150"/>
                <div class="song-info">
                    <h2 id="song-title">{{ cp.title }}</p>
                        <p id="song-artist">{{ cp.artists }}</p>
                </div>
            {% else %}
                <h2 id="song-title">No song is playing currently.</p>
            {% endif %}
        </div>
    </div>
</div>
<div class="top-artists">
    <div>
        <h1>Top Artists</h1>
        <br>
        <div class="top-artists-list">
            {% for artist in ta %}
                <div class="artist">
                    <img src='{{ artist["images"][0]["url"] }}' width="150" height="150"/>
                    <div class="artist-info">
                        <h2 id="artist-name">{{ artist["name"] }}</p>
                        <p id="artist-plays">{{ artist["genres"][0] }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}