{% extends "layout.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/content/home.css">
{% endblock %}
{% block content %}
<div class="now-playing">
    <div>
        <h1>Now Playing</h1>
        <br>
        <div class="song">
            {% if cpSong is not none %}
                <img src="{{ cpCover }}" width="150" height="150"/>
                <div class="song-info">
                    <p id="song-title">{{ cpSong }}</p>
                    <p id="song-artist">{{ cpArtist }}</p>
                </div>
            {% else %}
                <p id="song-title">No song is playing currently.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}