<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Statsify</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/content/index.css">
    </head>
    <body>
        <div id="content">
            <div id="intro">
                <div class="title container">
                    <div class="logo">
                        <img src="../static/imgs/logo.png" />
                        <h1>Statsify</h1>
                    </div>
                    <br />
                    <p>View all your listening statistics and see how you've spent your time listening to music with Statsify.</p>
                    <br />
                    <a href="/login">Login</a>
                </div>
            </div>
            <div id="footer">
                <div class="container">
                    <div class="first">
                        Made with ❤️ by ohashi & BTrident.
                    </div>
                    <div class="second">
                        © 2021 Statsify
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>