<style>
    @font-face {
        font-family: Gotham;
        src: url("../static/fonts/GothamMedium.ttf");
    }
    @font-face {
        font-family: GothamBold;
        src: url("../static/fonts/GothamBold.ttf");
    }
    .bg-dark {
        background-color: #202020 !important;
    }
    .dropdown-menu-dark {
        background-color: #303030 !important;
    }
    .main > a {
        margin-left: auto;
        margin-right: auto;
    }
    a {
        font-family: Gotham;
    } 
    .main > .dropdown {
        margin-left: auto;
        margin-right: auto;
    }
</style>
<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark main" style="width:280px; height: 100vh;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 text-white text-decoration-none">
        <img class="me-2" width="32" height="32" src="../static/imgs/logo.png"></img>
        <span class="fs-4">Statsify</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
        <a href="/home" class="nav-link active" aria-current="page">
            <i class="bi me-2 fa-solid fa-house" width="16" height="16"></i>
            Home
        </a>
    </li>
    <li>
        <a href="#" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
            (placeholder)
        </a>
    </li>
    <li>
        <a href="#" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
            (placeholder)
        </a>
    </li>
    <li>
        <a href="#" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
            (placeholder)
        </a>
    </li>
    <li>
        <a href="#" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
            (placeholder)
        </a>
    </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ userpfp }}" alt="" width="32" height="32" class="rounded-circle me-2">
            {{ userName }}
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </div>
</div>