<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Statsify</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/content/privacy.css">
    </head>
    <body>
        <div id="content">
            <div id="main">
                <h1 class="title">Privacy Policy</h1>
                <br>
                <p>
                    Statsify was developed as an open source app. This service is provided by the Statsify team at no cost and is intended for use as is. This page
                    is used to inform visitors regarding our policies with the collection, use, and disclosure of Personal Information if anyone decided to use our Service.
                </p>
                <br>
                <h2 class="subtitle">Information Collection and Use</h2>
                <br>
                <p>
                    We do not store any information or data used by Statsify nor shared with third parties. However, for a better experience, the data package feature is stored on 
                    your device's browser storage, in a section called "Local Storage". This data is not stored on our servers, and can be deleted at any time by 
                    clearing your browser cookies and data for the site. All information is used solely for displaying statistics and information on the website. By choosing to
                    use this app, you agree to the use of your Spotify account data for the purposes of this app.
                </p>
                <br>
                <h2 class="subtitle">Deletion of Data</h2>
                <br>
                <p>
                    Although your data is not being stored server-sided or used maliciously, if you would like to revoke Statsify's permissions, 
                    <a href="https://support.spotify.com/us/article/spotify-on-other-apps/">here</a> is a guide for doing so. To delete your data package data from your browser,
                    simply clear your browser's cookies and data for the site.
                </p>
                <br>
                <h2 class="subtitle">Contact Me</h2>
                <br>
                <p>
                    If you have any questions about this Privacy Policy, please contact me at <a href="mailto:jack@jackli.dev">jack@jackli.dev</a>.
                </p>
            </div>
            <div id="footer">
                <div class="container">
                    <div class="first">
                        Made with ❤️ by <a class="name-credit" href="https://github.com/jckli">jckli</a> & <a class="name-credit" href="https://github.com/The-Brandon-Tran">BTrident</a>.
                    </div>
                    <div class="second">
                        <a href="/privacy" class="extra-links">Privacy Policy</a>
                        © 2021 - 2022 Statsify
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>