@font-face {
    font-family: CircularBold;
    src: url("../fonts/CircularBold.ttf");
}
@font-face {
    font-family: Circular;
    src: url("../fonts/CircularBook.ttf");
}
body {
    margin: 0px;
    background: #101010;
}
h1 {
    font-family: CircularBold;
    color: #ffffff;
    font-size: 30px;
}
p {
    font-family: Circular;
    color: #ffffff;
    font-size: 21px;
    margin-bottom: 0px;
}
h2 {
    font-family: CircularBold;
    font-size: 26px;
    line-height: 2.7vh;
    color: #ffffff;
}
#content {
    margin-left: 280px;
    overflow: auto;
}
#content > .now-playing {
    background-color: #202020;
    margin: 0px 20px;
    margin-top: 20px;
    width: 60%;
    border-radius: 12px;
}
#content > .now-playing > div {
    padding: 20px 20px;
}
#content > .now-playing > div > .song {
    display: flex;
}
#content > .now-playing > div > .song > img {
    border-radius: 12px;
    margin-right: 16px;
}
#content > .now-playing > div > .song > .song-info {
    flex-grow: 1;
    flex-shrink: 1;
}
#content > .top-lists {
    display: flex;
    width: 60%;
    margin: 20px 20px;
}
#content > .top-lists > .top-artists {
    background-color: #202020;
    margin-right: 10px;
    width: 50%;
    border-radius: 12px;
}
#content > .top-lists > .top-artists > div {
    padding: 20px 20px;
}
#content > .top-lists > .top-artists > div > .top-artists-list > .artist {
    display: flex;
}
#content > .top-lists > .top-artists > div > .top-artists-list > .artist > img {
    border-radius: 12px;
    margin-right: 16px;
    height: 50px;
    width: 50px;
}
#content > .top-lists > .top-songs {
    background-color: #202020;
    margin-left: 10px;
    width: 50%;
    border-radius: 12px;
}
#content > .top-lists > .top-songs > div {
    padding: 20px 20px;
}
#content > .top-lists > .top-songs > div > .top-songs-list > .song {
    display: flex;
}
#content > .top-lists > .top-songs > div > .top-songs-list > .song > img {
    border-radius: 12px;
    margin-right: 16px;
    height: 50px;
    width: 50px;
}