@font-face {
    font-family: ProximaNova;
    src: url("../fonts/ProximaNovaBold.otf");
}
.bg-dark {
    background-color: #202020 !important;
}
.dropdown-menu-dark {
    background-color: #303030 !important;
}
.main > a {
    margin-left: auto;
    margin-right: auto;
}
a {
    font-family: ProximaNova;
}
.main > .dropdown {
    margin-left: auto;
    margin-right: auto;
}
.dropdown-menu-dark .dropdown-item {
    color: #ffffff;
}