@font-face {
    font-family: Gotham;
    src: url(../fonts/GothamMedium.ttf);
}
@font-face {
    font-family: ProximaNova;
    src: url("../fonts/ProximaNovaBold.otf");
}
body {
    font-family: Gotham;
    margin: 0px;
    background: #101010;
    display: block;
}
#content {
    color: #ffffff;
}
#main {
    margin: 60px auto;
    padding: 0px 40px;
    width: 750px;
}
.title {
    font-size: 2.5rem;
    font-family: ProximaNova;
    text-align: center;
}
.subtitle {
    font-size: 1.75rem;
    font-family: ProximaNova;
    text-align: center;
}
#footer > div {
    min-height: 10vh;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer > div > div {
    font-size: 16px;
}
.name-credit {
    text-decoration: none;
    color: #ffffff;
}
.name-credit:hover {
    color: #808080;
    transition: 200ms ease-out color;
}
.extra-links {
    color: #505050;
    margin-right: 10px;
}
.extra-links:hover {
    color: #808080;
    transition: 200ms ease-out color;
}
@media (max-width: 765px) {
    #main {
        width: 100%;
    }
    #footer > div {
        display: block;
        text-align: center;
    }
}
@media (max-width: 500px) {
    #footer > .container > .first {
        display: none;
    }
}