@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@font-face {
    font-family: ProximaNova;
    src: url("/fonts/ProximaNovaBold.otf");
}
@font-face {
    font-family: Metropolis;
    src: url("/fonts/MetropolisSemiBold.ttf");
}


html,
body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
    background: #101010;
}

.font-metropolis {
    letter-spacing: 0.2px;
}

@theme {
  	--color-primary: #4ad3ff;
  	--color-mgray: #202020;

  	--font-proximaNova: ProximaNova;
  	--font-metropolis: Metropolis;

 	--breakpoint-navbar: 894px;
    --breakpoint-xxsm: 380px;
    --breakpoint-xsm: 460px;
    --breakpoint-sxsm: 510px;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-mlg: 894px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-xxl: 1440px;
    --breakpoint-2xl: 1536px;
}

